{% load static %}


<footer>
    <div class="footer-content">
        <div class="footer-section transformation">
            <img class="logo" src="{% static './images/Transparent-Radnor Consulting_edited_edi.png' %}">
            <h2>Your Transformation Partner</h2>
          
        </div>
        <div class="footer-section quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Industries</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-section contact-info">
            <h3>Contact Information</h3>
            <ul>
                <li>Email: <a href="mailto:transformation@radnorconsulting.net">transformation@radnorconsulting.net</a></li>
                <li>Phone: +254-722-990943 / +254-733-788-528</li>
                <li>Location: Nairobi</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>©2024 by Radnor Consulting | Design by Peterson</p>
    </div>
</footer>